@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="~/Source/fontawesome-free-5.15.4-web/css/all.min.css" rel="stylesheet" />
    <link href="~/Source/css/Dahboard_1.css" rel="stylesheet" />
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <script src="https://cdn.amcharts.com/lib/5/index.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/xy.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>
    <script src="~/Source/js/DashBoard_1.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/jquery.signalR-2.4.3.min.js"></script>
    <script src="/signalr/hubs"></script>
    <title>DashBoard</title>
</head>
<body>
    <div class="container10">
        <div class="nav">
            <div class="nav_Left">
                <img style="width: 105px; height: 85px; position: absolute; top: 2px; left: 46px;" src="~/Source/images/1.png" />
            </div>
            <div class="nav_Right">
                <i class="fas fa-sign-out-alt" onclick="window.location.href='/Home/Index'"></i>
            </div>
        </div>
        <div class="Middle">
            <div class="LeftSide">
                <div onclick="window.location.href='/Admin/WelcomeAdmin'">
                    <i class="fas fa-tachometer-alt"></i>
                    <p>Welcome</p>
                </div>
                <div onclick="window.location.href='/Admin/ShowClients'">
                    <i class="fas fa-tachometer-alt"></i>
                    <p>ShowClients</p>
                </div>
                <div onclick="window.location.href='/Admin/ShowOrderMasters'">
                    <i class="fas fa-tachometer-alt"></i>
                    <p>ShowOrderMasters</p>
                </div>
                <div onclick="window.location.href='/Admin/AddOrderMasters'">
                    <i class="fas fa-tachometer-alt"></i>
                    <p>AddOrderMasters</p>
                </div>
                <div onclick="window.location.href='/Admin/ShowNewOrder'">
                    <i class="fas fa-tachometer-alt"></i>
                    <p>ShowNewOrders</p>
                </div>
                <div onclick="window.location.href='/Admin/Categories'">
                    <i class="fas fa-tachometer-alt"></i>
                    <p>ShowCategories</p>
                </div>
            </div>
            <div class="BuyProcessesContainer" style="padding: 35px;">
                <form method="post" action="/Admin/AddNewOrderMaster">
                    @if (!string.IsNullOrEmpty(ViewBag.message))
                    {
                        <div class="alert alert-danger" role="alert">
                            @ViewBag.message
                        </div>
                    }
                    <div class="form-group">
                        <label for="FullName">Master Name</label>
                        <input type="text" class="form-control" required name="FullName" id="FullName" placeholder="Master Name...">
                    </div>
                    <div class="form-group">
                        <label for="Email">Master Email</label>
                        <input type="email" class="form-control" required name="Email" id="Email" placeholder="Master Email...">
                    </div>
                    <div class="form-group">
                        <label for="PassWord">Master PassWord</label>
                        <input type="password" class="form-control" required name="PassWord" id="PassWord" placeholder="Master PassWord...">
                    </div>
                    <div class="form-group">
                        <label for="ConfirmPassWord">Confirm PassWord</label>
                        <input type="password" class="form-control" required name="ConfirmPassWord" id="ConfirmPassWord" placeholder="Confirm PassWord...">
                    </div>
                    <div class="form-group">
                        <button type="submit" style="color:#fff" class="btn btn-success">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
